/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/images/
/composer.lock/
/.idea/

Supprimerait web/images/products/CWILsQ_WwAEys1-.jpg
Supprimerait web/images/products/G5-medium07.jpg
Supprimerait web/images/products/philips-s5150-63-90x90_c.jpg
Supprimerait "web/images/products/rasoir \303\251lectrique.jpg"
Supprimerait web/images/products/xiaomi-powerbank-10000mah-90x90_c.jpg
