{% extends "::base.html.twig" %} {% block title %}Commentaires{% endblock %} {% block body %}
<div class="container">
<h3 class="deep-purple-text ">Commentaires</h3>

    {% for comment in comments %}
    <div class="row">
        {% if comment.article == null %} {% else %}
        <div class="col s12">
            <div class="card deep-purple lighten-5">
                <div class="card-content">
                    <span class="card-title deep-purple-text">{{comment.article.titre}}</span>


                    <p> {{comment.commentaire}}</p>
                    <blockquote>{{comment.user.username}}</blockquote>
                </div>
                <div class="card-action ">
                    <a href="">Supprimer</a>
                    <a href="/{{comment.article.id}}/single-article">Voir</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}