{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
<h3 class="deep-purple-text lighten-1">Modifier le commentaire</h3>
{{form_start(edit_form)}}
{{form_widget(edit_form.commentaire)}}

<div class="row" style="text-align:center; margin-top:70px;">
  <button class="btn-floating btn-large waves-effect waves-light tooltipped" type="submit" data-position="bottom" data-delay="50" data-tooltip="Enregistrer">
    <i class="material-icons right">save</i>
  </button>
</div>
{{form_end(edit_form)}}
</div>
{% endblock %}
