body {
    margin-top: 10%;
}


.navbar-inverse .navbar-brand {
    color:white;
    font-family: 'Irish Grover';
    font-size: 35px;
}


.navbar-inverse .navbar-nav>li>a {

    color:black;
}


.navbar-inverse {
    background-color: #0088CC;
    border-color: #6c6159;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 16px 120px;
}