body {
    /*background: url(../framework/image/fond.jpg);*/
    height:100%;
}


.navbar-inverse .navbar-brand {
    color:white;
    font-family: 'Irish Grover';
    font-size: 45px;
}


.navbar-inverse .navbar-nav>li>a {
    color:white;
}


.navbar-inverse {
    background-color: #0088CC;
    border-color: #6c6159;
}

.nav>li {
    position: relative;
    display: block;
    margin-left: 120px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color:white;
    color:rgb(205, 0, 58);
    opacity:0.9;
}

.starter-template {
    -webkit-box-shadow: 6px 6px 26px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 26px -4px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 26px -4px rgba(0,0,0,0.75);
    margin-top: 55px;
}

.separateur {
    border: black 1px solid;
    opacity: 0.2;
}

.social  {

    list-style-type: none;
}

.social li {
    display: inline;
    color:black;
    font-size: 15px;
    margin-right: 35px;
}

.social li a {
    color: white;
    font-size: 20px;
}

.social p{
  color: white;
}






/************************************************/



/* Set the fixed height of the footer here */

#footer {
    height: 100%;
    background-color: #0088CC;

    -webkit-box-shadow: 3px -3px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -3px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 3px -3px 5px -1px rgba(0,0,0,0.75);
}

.paragraphe {
    margin-top: 20px;
    color: white;
}




