html{
    height: 100%
}


 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

nav{
    box-shadow: -2px 5px 24px 0px rgba(0,0,0,0.75);
}



h1, h2, h3, h4{
    font-family: 'Quicksand', cursive;
}

nav a{
    font-family: 'Play', cursive;
    
}

.container{
    margin-top : 50px; 
}
.description{
    margin-top : 50px; 
}

.brand-logo.titre {
    color:white;
    font-family: 'Irish Grover';
    font-size: 42px;
}



footer{
    font-family: 'Play', cursive;
      box-shadow: -2px -5px 24px 0px rgba(0,0,0,0.75);
}

footer a {
    color : white; 
}

.card .card-image .card-title{
    padding : 2px;
    text-align: center; 
    width :100%; 
}

table i{
    margin-right : 20px; 
}

textarea {
    width: 100%;
    height: 200px;
}




.starter-template {
    -webkit-box-shadow: 6px 6px 26px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 26px -4px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 26px -4px rgba(0,0,0,0.75);
    margin-top: 55px;
}

.separateur {
    border: black 1px solid;
    opacity: 0.2;
    width : 70%; 
}

.social  {

    list-style-type: none;
}

.social li {
    display: inline;
    color:black;
    font-size: 15px;
    margin-right: 35px;
}

.social li a {
    color: white;
    font-size: 20px;
}

.social p{
  color: white;
}






/************************************************/



/* Set the fixed height of the footer here */

#footer {
    height: 100%;
    background-color: #2196F3;

    -webkit-box-shadow: 3px -3px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -3px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 3px -3px 5px -1px rgba(0,0,0,0.75);
}

.paragraphe {
    margin-top: 20px;
    color: white;
}


